bleach==5.0.1
bokeh==2.4.3
certifi==2022.9.14
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
colorcet==3.0.0
contourpy==1.0.5
cycler==0.11.0
Cython==0.29.32
dask==2022.9.1
datashader==0.14.2
datashape==0.5.2
distributed==2022.9.1
fonttools==4.37.3
fsspec==2022.8.2
gensim==4.2.0
hdbscan==0.8.28
HeapDict==1.0.1
holoviews==1.15.0
idna==3.4
imageio==2.22.0
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.4
llvmlite==0.39.1
locket==1.0.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.0
mnist==0.2.2
msgpack==1.0.4
multipledispatch==0.6.0
networkx==2.8.6
numba==0.56.2
numpy==1.23.3
packaging==21.3
pandas==1.5.0
panel==0.13.1
param==1.12.2
partd==1.3.0
Pillow==9.2.0
psutil==5.9.2
pyct==0.4.8
pymemcache==3.5.2
pymongo==4.2.0
pynndescent @ file:///home/conda/feedstock_root/build_artifacts/pynndescent_1652648933546/work
pyparsing==3.0.9
python-dateutil==2.8.2
python-mnist==0.7
pytz==2022.2.1
pyviz-comms==2.2.1
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.1
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
six==1.16.0
smart-open==6.2.0
sortedcontainers==2.4.0
tblib==1.7.0
tensorboard-plugin-wit==1.8.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile==2022.8.12
toolz==0.12.0
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
typing_extensions==4.3.0
umap-learn @ file:///home/conda/feedstock_root/build_artifacts/umap-learn_1649908149248/work
urllib3==1.26.12
webencodings==0.5.1
xarray==2022.6.0
zict==2.2.0
tensorflow
tensorflow_hub
