bleach
bokeh
certifi
charset-normalizer
click
cloudpickle
colorama 
colorcet
contourpy
cycler
Cython
dask
datashader
datashape
distributed
fonttools
fsspec
gensim
hdbscan
HeapDict
holoviews
idna
imageio
Jinja2
joblib
kiwisolver
llvmlite
locket
Markdown
MarkupSafe
matplotlib
mnist
msgpack
multipledispatch
networkx
numba
numpy
packaging
pandas
panel
param
partd
Pillow
psutil
pyct
pymemcache
pymongo
pynndescent 
pyparsing
python-dateutil
python-mnist
pytz
pyviz-comms
PyWavelets
PyYAML
requests
scikit-image
scikit-learn
scipy
seaborn
six
smart-open
sortedcontainers
tblib
tensorboard-plugin-wit
threadpoolctl 
tifffile
toolz
tornado
tqdm 
typing_extensions
umap-learn 
urllib3
webencodings
xarray
zict
tensorflow
tensorflow_hub
