absl-py==0.15.0
aiohttp==3.8.1
aiohttp-middlewares==1.2.1
aiosignal==1.2.0
amqp==5.0.6
astunparse==1.6.3
async-timeout==4.0.1
asynctest==0.13.0
attrs==21.2.0
autocorrect==2.2.2
beautifulsoup4==4.9.3
billiard==3.6.4.0
cached-property==1.5.2
cachetools==4.2.4
celery==5.1.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.0.8
cheroot==8.4.5
CherryPy==18.6.0
clang==5.0
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
contractions==0.0.25
cryptography==3.1.1
dataclasses==0.8
feedparser==6.0.1
flatbuffers==1.12
frozenlist==1.2.0
future==0.18.2
gast==0.4.0
gensim==4.1.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.1.0
idna==2.10
idna-ssl==1.1.0
importlib-metadata==4.8.2
importlib-resources==3.0.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
joblib==0.17.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kombu==5.1.0
lxml==4.5.2
Markdown==3.3.6
more-itertools==8.5.0
multidict==5.2.0
mysqlclient==2.0.1
nltk==3.5
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
Pattern==3.6
pdfminer.six==20200726
pip==21.3.1
portend==2.6
praw==7.1.0
prawcore==1.5.0
prompt-toolkit==3.0.22
protobuf==3.19.1
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pymongo==3.11.0
python-docx==0.8.10
pytz==2021.3
regex==2020.10.11
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-learn==0.23.2
scipy==1.5.2
setuptools==59.6.0
sgmllib3k==1.0.0
six==1.15.0
sklearn==0.0
smart-open==5.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
tempora==4.0.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.2
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
termcolor==1.1.0
textblob==0.15.3
textsearch==0.0.17
threadpoolctl==2.1.0
tqdm==4.50.2
typing-extensions==3.7.4.3
Unidecode==1.1.1
update-checker==0.18.0
urllib3==1.25.10
vine==5.0.0
wcwidth==0.2.5
websocket-client==0.57.0
Werkzeug==2.0.2
wheel==0.37.1
wrapt==1.12.1
yarl==1.7.2
zipp==3.3.0