name: Playwright Tests

on:
  push:
    branches: [ "main", "frontend" ]
  pull_request:
    branches: [ "main", "frontend" ]

defaults:
  run:
    working-directory: ./teleoscope.ca

jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install
      
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      
      - name: Copy env variables and build
        run: |
          echo "MONGODB_URI=${{secrets.MONGODB_ATLAS_TESTING_URI}}" >> ./.env.local
          echo "STRIPE_TEST_PUBLISHABLE_KEY=${{secrets.STRIPE_TEST_PUBLISHABLE_KEY}}" >> ./.env.local
          echo "STRIPE_TEST_SECRET_KEY=${{secrets.STRIPE_TEST_SECRET_KEY}}" >> ./.env.local
          echo "FRIGADE_API_PUBLIC=${{secrets.FRIGADE_API_PUBLIC}}" >> ./.env.local
          echo "LOOPS_API_KEY=${{secrets.LOOPS_API_KEY}}" >> ./.env.local
          echo "TELEOSCOPE_BASE_URL=localhost:3000" >> ./.env.local
          echo "TEST_EMAIL=test@test.test" >> ./.env.local
          echo "TEST_PASSWORD=passWORD123!" >> ./.env.local
          cat ./.env.local  # Add this to verify if the file is generated correctly

      - name: Run Playwright tests
        run: pnpm exec playwright test
        env:
          MONGODB_URI: ${{ secrets.MONGODB_ATLAS_TESTING_URI }}  # Ensure env variable in case .env.local isn't picked up
          TELEOSCOPE_BASE_URL: "localhost:3000" # Ensure env variable in case .env.local isn't picked up

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
